/* css markup for admin page */

#islandora-solr-custom-admin-settings pre
{
    background-color: #F0F0F0;
    border: 1px solid #333333;
    overflow: auto;
    padding: 0.5em;
}

#islandora-solr-custom-admin-settings .description table
{
  margin-top: 0px;
}

.islandora_solr_custom_add
{
  color: green;
}

.islandora_solr_custom_remove
{
  color: red;
}

#islandora-solr-custom-admin-settings div.messages
{
  padding: 15px;
}