/* css markup for admin page */

#islandora-solr-custom-admin-settings pre
{
    background-color: #F0F0F0;
    border: 1px solid #333333;
    overflow: auto;
    padding: 0.5em;
}

#islandora-solr-custom-admin-settings .description table
{
  margin-top: 0px;
}
